form.visual-form-builder{
	font-family:"Lucida Sans",Lucida Sans Unicode,Verdana,Arial,sans-serif;
	margin:20px 0;
}
form.visual-form-builder li{width:auto !important;}
.visual-form-builder ul{
	list-style:none;
	margin:0 14px;
	padding:0;
	font-size:12px;
}
.visual-form-builder li{
	clear:both;
	margin:0;
	padding:6px 1% 9px;
	width:64%;
}
.visual-form-builder li div span, span.full input, span.full select{
	display:block;
	float:left;
	width:100%;
}
.visual-form-builder span.left{
	float:left;
	width:48%;
}
.visual-form-builder span.right{
	float:right;
	width:48%;
}
.visual-form-builder span.right input, .visual-form-builder span.right select, .visual-form-builder span.left input, .visual-form-builder span.left select{width:100%;}
.visual-form-builder li div label, .visual-form-builder li span label{font-size:90%;}
.visual-form-builder fieldset{
	background-color:#eeeeee;
	-webkit-box-shadow:2px 2px 10px #ADADAD;
	-moz-box-shadow:2px 2px 10px #ADADAD;
	box-shadow:2px 2px 10px #ADADAD;
	margin:15px 0;
	clear:both;
}
.visual-form-builder .legend{
	margin:5px 14px;
	padding:0 6px;
	color:#990000;
	border-bottom:1px dotted #CCCCCC;
}
.visual-form-builder label, label.desc{
	display:block;
	margin:0;
	padding-bottom:3px;
	color:#000;
}
label.desc{font-weight:bold;}
.visual-form-builder label.choice{
	font-size:100%;
	line-height:150%;
	margin:-17px 0 0 23px;
	padding:0 0 5px;
	width:88%;
}
.visual-form-builder label span{
	color:#BC1212;
	vertical-align:middle;
}
input.text, textarea.textarea, select.select{
	font-size:100%;
	font-family:"Lucida Sans",Lucida Sans Unicode,Verdana,Arial,sans-serif;
	margin:0;
	padding:2px 0;
}
input.medium, select.medium{width:50%;}
input.large, select.large, textarea.textarea{width:100%;}
textarea.medium{height:10em;}
.submit{font-size:1.1em;}
input.checkbox, input.radio{
	font-size:1.1em;
	display:block;
	height:13px;
	width:13px;
	margin:4px 0 0;
}
label.error{
	color:red;
	font-weight:bold;
	font-size:90%;
}
input.error, select.error, textarea.error{border:1px solid red;}
p#form_success{
	color:green;
	font-weight:bold;
}
#ui-datepicker-div { display: none; }