label.error{color:red;display:block;}
#visual-form-builder-update input.error, #visual-form-builder-update textarea.error{border:1px solid red;}
.menu-item-handle.fieldset{
	background-image: -moz-linear-gradient(top, #E3E3E3 0%, #CCCCCC 100%);
	background-image: -o-linear-gradient(top, #E3E3E3 0%, #CCCCCC 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #E3E3E3), color-stop(1, #CCCCCC));
	background-image: linear-gradient(top, #E3E3E3 0%, #CCCCCC 100%);
	box-shadow:0 1px 0 #e3e3e3 inset;
}
.sender-labels{width:80px;}
.is-field-required{color:#BC1212; vertical-align:middle;}
.visual-form-builder-inline-edit{width:100%;}
.visual-form-builder-inline-edit-col{padding:0 0.5em;}
.visual-form-builder-inline-edit label{display:block;margin:0.2em 0;}
.visual-form-builder-inline-edit .title{display:block;float:left;width:5em;font-style:italic;}
.visual-form-builder-inline-edit .input-text-wrap{display:block;margin-left:5em;}
.visual-form-builder-inline-edit .input-text-wrap input[type="text"]{width:100%;border:#DDD solid 1px;border-radius:3px;}
.subsubsub{float:none;}